@font-face {
  font-family: "Lato-Hairline";
  src: url("../fonts/Lato-Hairline.ttf"); }
@font-face {
  font-family: "Lato-Thin";
  src: url("../fonts/Lato-Thin.ttf"); }
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.ttf"); }
.page {
  background-image: url("https://scproxy-prod.adobecc.com/api?X-Location=https%3A%2F%2Fcc-us1-prod.adobesc.com%2Fapi%2Fv1%2Fassets%2F7f6e1280-4ef4-4797-8296-454af9ff535a%2Frenditions%2Fjpg%2F1200?&link=2e4c8927-34fb-4d7f-7559-398721d9a079");
  background-size: 100% 100%;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .page .col1 {
    position: absolute;
    height: 70%;
    width: 33%;
    border-right: 1px solid black;
    border-color: rgba(19, 17, 21, 0.5); }
    @media screen and (max-width: 768px) {
      .page .col1 {
        display: none;
        width: 0%; } }
    .page .col1 .bot {
      position: absolute;
      bottom: 0;
      margin-left: 70%;
      padding-right: 150%;
      width: 30%;
      height: 10%;
      float: bottom;
      border-top: 1px solid black;
      border-color: rgba(19, 17, 21, 0.5); }
      .page .col1 .bot h3 a {
        position: relative;
        float: right;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.9);
        -moz-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        padding-left: 30px;
        padding-right: 15%;
        text-align: right;
        font-family: "Lato-Thin";
        font-weight: normal; }
        .page .col1 .bot h3 a:hover {
          opacity: 0.8; }
  .page .col2 {
    position: absolute;
    height: 62%;
    width: 30%;
    left: 34%;
    overflow: scroll;
    z-index: 1; }
    @media screen and (max-width: 768px) {
      .page .col2 {
        left: 3%;
        width: 90%;
        height: 100%; } }
    .page .col2 .bar {
      position: relative; }
      .page .col2 .bar ul {
        height: 2em;
        margin: 0px;
        margin-top: 13%;
        padding-left: 5%; }
      .page .col2 .bar li {
        display: inline;
        float: left;
        width: 30%;
        margin-bottom: 2%; }
        .page .col2 .bar li:first-child {
          width: 10%; }
      .page .col2 .bar a {
        text-align: center;
        text-decoration: none;
        color: rgba(87, 83, 88, 0.6);
        -moz-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        -webkit-transition: color 0.5s ease;
        transition: color 0.5s ease;
        font-family: "Lato-Thin";
        font-weight: normal; }
        .page .col2 .bar a:hover {
          color: #131115; }
    .page .col2 .mainbox {
      position: relative;
      float: left;
      padding: 3% 3% 0% 3%;
      overflow: auto; }
      .page .col2 .mainbox h2 {
        font-family: "Lato-Light";
        font-weight: 600;
        margin-bottom: 1%;
        display: inline; }
      .page .col2 .mainbox h3 {
        font-family: "Lato-Thin";
        font-weight: 100;
        font-size: 1em;
        margin-top: 1%;
        margin-bottom: 1%; }
      .page .col2 .mainbox h4 {
        font-family: "Lato-Thin";
        font-weight: 100;
        font-size: 1em;
        opacity: 0.2;
        margin-top: 1%;
        margin-bottom: 1%;
        padding-left: 2%;
        display: inline; }
      .page .col2 .mainbox ul {
        padding-left: 0;
        margin-top: 3%; }
        .page .col2 .mainbox ul li {
          display: inline;
          padding-right: 10%; }
      .page .col2 .mainbox a {
        text-decoration: none;
        color: rgba(87, 83, 88, 0.4);
        -moz-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        -webkit-transition: color 0.5s ease;
        transition: color 0.5s ease;
        font-family: "Lato-Thin";
        font-weight: normal;
        font-size: 0.75em; }
        .page .col2 .mainbox a:hover {
          color: rgba(19, 17, 21, 0.9); }

/*# sourceMappingURL=sound.css.map */
