{% load static %}
<html>
  <head>
    <title>jordankusBIOel</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bio.css' %}">
  </head>
  <body>
    <div class='page'>
      <div class='col1'>
        <div class='bot'>
          <h3><a href="/">home</a></h3>
        </div>
      </div>
      <div class='mainbox'>
        <p><strong>Jordan Kusel</strong> is a composer and creative coder living in Seattle, WA, whose work explores transdisciplinary design, communal ennui, eroticism, and alternative virtuosities. Focused on chamber music production and intermedia performance, he strives to foster intimate listening and open-source collaboration within the experimental music community.</p>
<p>Jordan has studied composition with Drs. <a href='http://www.kirstenbroberg.com/'>Kirsten Broberg</a>, <a href='https://josephklein.music.unt.edu/'>Joseph Klein</a>, <a href='http://www.panayiotiskokoras.com/'>Panayiotis Kokoras</a>, <a href='http://www.markoliveiro.com/'>Mark Oliveiro</a>, and <a href='http://andrewmaymusic.com/'>Andrew May</a>, and is self-taught in Python, Django, HTML/CSS/Sass, SQL, <a href='https://cycling74.com/'>Max/MSP</a>, <a href='http://processing.org'>Processing</a>, and other languages/frameworks. He has premiered numerous new music works in various performance capacities, and handles sampling, saxophones, live electronics, and mix engineering for the baroque pop ensemble <a href='http://pansymoon.com'>Pansy Moon</a>.</p>
      </div>
      <div class='col3'>
      </div>
    </div>
  </body>
</html> 
