{% load static %}
<html>
  <head>
    <title>J J R DbY N KiS E LoL E</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bio.css' %}">
  </head>
  <body>
    <div class='page'>
      <div class='col1'>
        <div class='bot'>
          <h3>bio</h3>
        </div>
      </div>
      <div class='mainbox'>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac sapien in lectus ultricies tristique. Quisque vel erat sapien. Pellentesque sit amet libero a turpis facilisis posuere ac sit amet justo. Suspendisse blandit tincidunt enim, sed sollicitudin est finibus quis. Donec ut risus posuere, vehicula est id, tincidunt nisl. Cras eget convallis magna, quis pharetra magna. Donec laoreet, ligula pharetra varius lobortis, turpis ante posuere lectus, at consectetur tellus massa lacinia nulla. Proin porta felis sit amet sapien porttitor, vitae efficitur sapien iaculis. Nam congue convallis mauris, fringilla vehicula eros mattis ut. Curabitur bibendum ornare nibh, at egestas ante commodo nec. Morbi ut lacus sollicitudin, ornare diam at, porttitor felis. Sed nisi ligula, gravida ut vehicula et, viverra et felis. Nam eleifend et tortor et viverra. Donec nisi quam, posuere nec tortor at, fringilla elementum diam.

In id porttitor ipsum, in faucibus nisl. Ut ullamcorper egestas libero eu pretium. Cras vitae sapien placerat, luctus erat non, maximus felis. Nunc nec leo nec sem imperdiet fermentum. In pharetra quam in posuere mollis. Suspendisse commodo, diam dictum eleifend viverra, ipsum turpis iaculis nibh, id sollicitudin lacus purus id leo. Proin vulputate orci laoreet enim blandit, scelerisque luctus mauris ornare. Duis vehicula sagittis diam vel hendrerit. Cras vestibulum purus vitae odio interdum ultricies. Duis massa lacus, lacinia vel pharetra non, iaculis in orci. Quisque porta tempor feugiat. Quisque maximus auctor nibh eget condimentum. Phasellus eleifend ex augue, id efficitur ante posuere vel. Nam eu erat nec sem fringilla condimentum et nec tellus. Mauris at velit nunc. Sed aliquet augue mattis ligula dignissim, a congue felis pellentesque.</p>
      </div>
      <div class='col3'>
      </div>
    </div>
  </body>
</html> 
