{% load static %}
<html>
  <head>
    <title>J J R D Y N K S E L L E</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  </head>
  <body>
    <div class='page'>
      <div class='splash'>
        <h1>jjrdynkselle</h1>
      </div>
      <div class='splash2'>
        <div class='tabs'>
          <h3><a href='/sound/'>sound</a></h3>
          <h3><a href='/code/'>code</a></h3>
          <h3><a href='/bio/'>bio</a></h3>
        </div>
      </div>
    </div>
  </body>
</html>
