{% load static %}
<html>
  <head>
    <title>jordan kusel</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  </head>
  <body>
    <div class='page'>
      <div id='center'>
        <div id='title'>
          <h1>jordankusel</h1>
        </div>
        <h1 id="smalltitle">jordankusel</h1>

        <div id='tabs'>
          <h3><a href='/sound/'>sound</a></h3>
          <h3><a href='/code/'>code</a></h3>
          <h3><a href='/bio/'>bio</a></h3>
        </div>
      </div>
    </div>

    <!-- jQuery scripts -->
    <script type="text/javascript" src="{% static 'lib/jquery/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/transitions.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/init.js' %}"></script>



  </body>
</html>
