{% load staticfiles %}

<html>
  <head>
    <title>{% block title %}JpRrDoYjN:N K S E L L E{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sound.css' %}">
  </head>
  <body>
    <div class='page'>
      <div class='col1'>
        <div class='bot'>
        </div>
      </div>
      <div class='mainbox'>
        {% for proj in projs %}
          <h2>{{ proj.title }}</h2>
          <h3>{{ proj.description }}</h3>
          <p><a href='{{ proj.score.url }}'>score</a></p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
